<% if user_signed_in? -%>
	<h2>Registro</h2>

	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	  <%= devise_error_messages! %>

	  <div><%= f.label :email %><br />
	  <%= f.email_field :email, :autofocus => true %></div>

	  <div><%= f.label :password, 'Contraseña: '%><br />
	  <%= f.password_field :password %></div>

	  <div><%= f.label :password_confirmation, 'Confirmar contraseña:' %><br />
	  <%= f.password_field :password_confirmation %></div>

	  <div><%= f.submit "Registrar" %></div>
	<% end %>
<% else %>
	<h2>Lo sentimos</h2>

	<p> Únicamente usuarios registrados pueden dar de alta a otros usuarios.</p>

<% end -%>
	<%= render "devise/shared/links" %>
