<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @newsletter.title %>
</p>

<p>
  <strong>Contenido:</strong>
</p>
<p>  <%= @newsletter.content %>
</p>

<% if user_signed_in? -%>
<%= link_to 'Editar', edit_newsletter_path(@newsletter) %> |
<%end%>
<%= link_to 'Atrás', newsletters_path %>
