<h1>Eventos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Título</th>
      <th>Fecha</th>
      <th>Descripción</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @eventos.each do |evento| %>
      <tr>
        <td><%= link_to evento.titulo, evento %></td>
        <td><%= evento.fecha %></td>
        <td><%=raw summarize(evento.descripcion, 150) %></td>
        <% if user_signed_in? -%>
        <td><%= link_to 'Editar', edit_evento_path(evento) %></td>
        <td><%= link_to 'Eliminar', evento, method: :delete, data: { confirm: '¿Esta seguro?' } %></td>
        <%end-%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if user_signed_in? -%>
<%= button_to 'Nuevo Evento', new_evento_path, :method => :get, :class => 'btn btn-large btn-success' %>
<%end-%>